* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
}

.game-title {
    margin-bottom: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 0px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 90px);  /* 4 columns */
        grid-template-rows: repeat(4, 90px);     /* 4 rows */
        gap: 10px;
        margin-top: 20px;
    }
    .word {
        background-color: rgb(239, 239, 230);
        border-radius: 6px;
        border: 0px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
        color: #000!important;
        padding: 0;
    }
    .merged-category {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        border-radius: 10px;
        padding-top: 12px;
    }
    .merged-words {
        font-size: 12px;
        font-weight: 400;
        padding-top: 10px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
    }
} 

@media only screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 130px);  /* 4 columns */
        grid-template-rows: repeat(4, 100px);     /* 4 rows */
        gap: 10px;
        margin-top: 20px;
    }
    .word {
        background-color: rgb(239, 239, 230);
        border-radius: 6px;
        border: 0px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
        color: #000!important;
    }
    .merged-category{
        font-size: 26px;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
        padding-top: 18px;
    }
    .merged-words {
        font-size: 15px;
        font-weight: 400;
        padding-top: 10px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 15%;
        text-align: center;
    }
} 


/* .grid {
    display: grid;
    grid-template-columns: repeat(4, 130px);  /* 4 columns 
    grid-template-rows: repeat(4, 100px);     /* 4 rows
    gap: 10px;
    margin-top: 20px;
} */



.word:hover {
    background-color: #e0e0e0;
}

.word.selected {
    background-color: #5a594e;
    color: #fff!important
}

.submit {
    font: 600 20px/130% nyt-franklin,Arial;
    width: 148px;
    height: 46px;
    border-radius: 100px;
    border: 2px solid black;
    color: white;
    background: rgba(0,0,0);
    display: grid;
    place-content: center;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

#winning-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}