body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
}

.grid-item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 50%; /* Make the grid items circular */
    cursor: pointer;
    font-size: 24px;
    transition: border-color 0.3s;
}

.grid-item.selected {
    background-color: rgb(219, 216, 197); /* Blue border when selected */
}

.grid-item.lastSelected {
    background-color: rgb(219, 216, 197);
    outline: rgb(219, 216, 197) solid 3px;
    outline-offset: 3px;
}

.grid-item.correct {
    background-color: rgb(174, 223, 238); /* Blue border when selected */
}

.grid-item.hint {
    background-color: rgb(214, 29, 44); /* Blue border when selected */
}

.grid-item.spangram {
    background-color: rgb(248, 203, 44); /* Blue border when selected */
}

.counter {
    margin: 10px 0 15px;
    font-weight: bold;
    font-size: 20px;
}


/* Strands Clue Box */
.clue{
    width: 350px;
    border-radius: 8px;
    border: 1px solid #bcbcbc;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0
}

.clue-label{
    font-feature-settings: "clig" off,"liga" off;
    font-family: nyt-franklin,Arial;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .96px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    background: #aedfee;
    margin: 0;
}

.clue-label h3{
    margin: 2px 0;
}

.clue-hint {
    margin: 5px 0;
}

.check-button {
    width: 100px;
    border-radius: 8px;
    background-color: green;
}


#selected-word {
    height: 25px;
}

.hintCounter {
    font: 600 20px/130% nyt-franklin,Arial;
    width: 148px;
    height: 46px;
    border-radius: 100px;
    border: 2px solid #cfcfcf;
    color: rgb(207, 207, 207);
    background: rgba(0,0,0,0);
    display: grid;
    place-content: center;
    font-weight: bold;
}

.hintOverlay {
    font: 600 20px/130% nyt-franklin,Arial;
    color: black;
    position: absolute;
    width: 148px;
    height: 46px;
    border-radius: 100px;
    border: 2px solid #cfcfcf;
    display: grid;
    place-content: center;
    font-weight: bold;
}

.empty {
    clip-path: inset(0px 100% 0px 0px);
}

.first {
    clip-path: inset(0px 66.67% 0px 0px);
}

.second {
    clip-path: inset(0px 33.33% 0px 0px);
}

.full {
    clip-path: inset(0px 0px 0px 0px);
}