* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.game {
    width: 100%
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
}

.grid div {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white; /* Default color */
    transition: background-color 0.3s ease;
    line-height: 1;
    font-weight: bold;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.keyboard button {
    padding: 10px 0;
    margin: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 35px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(211, 214, 218);
    color: #000!important;
}

.keyboard .button-text {
    padding: 10px 0;
    margin: 2px;
    font-size: 1.15rem;
    cursor: pointer;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(211, 214, 218);
    color: #000!important;
}

.keyboard button:hover {
    background-color: #ddd;
}

#winning-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media only screen and (min-width: 0px) {
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 15%;
        text-align: center;
    }
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}